# Chặn thư mục chứa Database
database/

# Chặn thư mục chứa video tải về
videos_storage/

# Chặn các file chứa biến môi trường thật
*.env
!*.env.example

# Chặn các thư mục rác của Python/Hệ điều hành
__pycache__/
*.pyc
.DS_Store